/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: teal;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding: 0 1em;
}

::-moz-selection {
    background: teal;
    text-shadow: none;
}

::selection {
    background: teal;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*.slider-container ul {
    padding: 0;
    color: #4E1A81;

}


.slider-container li {
    border: 1px black solid;
    padding: .5em;
    list-style-type: none;
    display: inline;

}*/

h1
{
    float: left;
    margin-top: 0;
    
}

body
{
    max-width: 600px;
    margin: auto;
}

header ul {
    padding: 0;
    list-style-type: none;

}

header div {
    text-align: right;
    margin: 20px 0px;
}

.home-button, 
.menu-button {
    padding: 2px;
    margin: auto;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

#menu{
    text-align: center;
}

.home-button img {
    width: 43px;
    height: 33px;
}

.menu-button img {
    width: 43px;
    height: 33px;
}

.share-button, 
.suggestions-button, 
.settings-button, 
.about-button {
    padding: 0;
    margin: auto;
    width: 90px;
    height: 30px;
    border: none;
    background: none;
}

.share-button, 
.suggestions-button, 
.settings-button, 
.about-button img {

}

#share a {
    font-size: 16px;
    text-decoration: none;
    color: teal;
}

#share img {
    max-width: 55px;
    padding-right:4px;

}

#suggestions iframe {
    width: 100%;

}

.slider-container { 
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 10px 0px;
}

.slider-container ul { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    list-style: none; 
    text-align: center;
}

.slider-container ul li { 
    float: left; 
    padding: 12px 14px; 
    width: 120px; 
    height: 100%; 
    border: 3px white;
    box-sizing: border-box;
    transition: background color 700ms;
}

.slider-container .active {
    background: teal;
    color: white;
    font-weight: bold;
    transition: background color 200ms;
}

.slider-container .inactive {
    color: white;
    background: #b2afaf;
    transition: color background 200ms;
}

.slider-container .active.inactive {
    color: white;
    background: #686868;
    transition: color background 200ms;
}

#play-button {
    padding: 2px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    margin-right: 21px;
    float: left;
    }

#play-button img { 
    width: 35px;

}

#playlist-button {
    padding: 2px;
    margin: auto;
    width: 90px;
    height: 40px;
    border: none;
    background: none;
    }

#playlist-button img { 
    width: 35px;

}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}